.interval-slider {
	width:100%;
	margin-top:5px;
	margin-left:10px;
}

.slider-label {
	margin-bottom:15px;
}

.btn {
	-webkit-user-select:none;
}

.content {
	padding-bottom: 50px;
}

#selectWaypoint {
	font-size: 0.8em;
}

.coordInput {
    width: 50px!important;
    float: left;
}

.coordInputMedium {
    width: 60px!important;
    float: left;
}

.coordInputLarge {
    width: 90px!important;
    float: left;
}

.coordLabel {
    float: left;
    margin-right: 10px;
    margin-left: 5px;
}

.coordInputSelect {
    height: 40px!important;
}

.settings-row {
    margin-left: 30px;
}

.launcher {
    background-image: url("../img/sense.png");
    background-position:center bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.login-background {
    background: url('../img/login.jpg') center center no-repeat;
    background-size: cover;
}

.delete-cell {
    text-align: center !important;
    color:#FF4444;
}

.delete-cell a {
    left:10%;
}

.link-cell {
    text-align: center !important;
}

.link-cell a {
    left:10%;
}

.delete-cell-button {
    right:15px;
    position:absolute;
    top:50%;
    height:21px;
    margin-top:-12px;
    font-size: 1.4em;
    color:#FF4444;
}

.btn-disabled {
    color:grey !important;
}

.popup-loader {
    text-align: center;
    font-size: 2em;
    color:lightgrey;
}

.page-loader {
    text-align: center;
    font-size: 3em;
    color:lightgray;
    margin-top:40px;
}

#offline {
    color:grey;
    margin-top:30px;
    text-align: center;
    padding:20px;
}

#offline i {
    margin-bottom:30px;
}

#loading-overlay {
    z-index:999999999;
    width:100px;
    height:100px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-50px;
    margin-left:-50px;
    background-color:rgba(255,255,255,0.8);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 51px 0px rgba(51,51,51,0.7);
    box-shadow: 0px 0px 51px 0px rgba(51,51,51,0.7);
}

#loading-overlay i {
    color:lightgrey;
    margin-top:23px;
}