<?xml version='1.0' encoding='utf-8'?>
<widget id="com.frjsh.allfine.sense" version="1.0.12" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>allfine!</name>
    
    <description>
        FRJSH Allfine Sense
    </description>
    
    <author email="info@frjsh.com" href="http://frjsh.com">
        FRJSH
    </author>

    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="permissions" value="none" />
    <preference name="phonegap-version" value="4.0.0" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="SplashScreen" value="screen"/>
    <preference name="SplashScreenDelay" value="2500"/>
    <preference name="SplashMaintainAspectRatio" value="true" />

    <gap:plugin name="org.apache.cordova.battery-status" />
    <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="org.apache.cordova.media-capture" />
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.contacts" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.device-motion" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.globalization" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.vibration" />
    <gap:plugin name="com.tlantic.plugins.socket" />
    <gap:plugin name="com.phonegap.plugin.statusbar" />

    <platform name="ios">
        <splash src="res/splash/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
        <splash src="res/splash/ios/Default-667h.png" width="750" height="1334"/>
        <splash src="res/splash/ios/Default-736h.png" width="1242" height="2208"/>
        <splash src="res/splash/ios/Default-Landscape-736h.png" width="2208" height="1242"/>
        <splash src="res/splash/ios/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
        <splash src="res/splash/ios/Default-Landscape~ipad.png" width="1024" height="768"/>
        <splash src="res/splash/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
        <splash src="res/splash/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
        <splash src="res/splash/ios/Default@2x~iphone.png" width="640" height="960"/>
        <splash src="res/splash/ios/Default~iphone.png" width="320" height="480"/>

        <icon height="29" src="res/icon/ios/Icon-Small.png" width="29" />
        <icon height="58" src="res/icon/ios/Icon-Small@2x.png" width="58" />
        <icon height="87" src="res/icon/ios/Icon-Small@3x.png" width="87" />
        <icon height="40" src="res/icon/ios/Icon-40.png" width="40" />
        <icon height="80" src="res/icon/ios/Icon-40@2x.png" width="80" />
        <icon height="120" src="res/icon/ios/Icon-40@3x.png" width="120" />
        <icon height="50" src="res/icon/ios/Icon-Small-50.png" width="50" />
        <icon height="100" src="res/icon/ios/Icon-Small-50@2x.png" width="100" />
        <icon height="60" src="res/icon/ios/Icon-60.png" width="60" />
        <icon height="120" src="res/icon/ios/Icon-60@2x.png" width="120" />
        <icon height="180" src="res/icon/ios/Icon-60@3x.png" width="180" />
        <icon height="57" src="res/icon/ios/Icon.png" width="57" />
        <icon height="114" src="res/icon/ios/Icon@2x.png" width="114" />
        <icon height="72" src="res/icon/ios/Icon-72.png" width="72" />
        <icon height="144" src="res/icon/ios/Icon-72@2x.png" width="144" />
        <icon height="76" src="res/icon/ios/Icon-76.png" width="76" />
        <icon height="152" src="res/icon/ios/Icon-76@2x.png" width="152" />
    </platform>

    <platform name="android">
        <!--
        <splash src="res/splash/android/drawable-land-ldpi-screen.png" density="land-ldpi"/>
        <splash src="res/splash/android/drawable-land-mdpi-screen.png" density="land-mdpi"/>
        <splash src="res/splash/android/drawable-land-hdpi-screen.png" density="land-hdpi"/>
        <splash src="res/splash/android/drawable-land-xhdpi-screen.png" density="land-xhdpi"/>
        <splash src="res/splash/android/drawable-land-xxhdpi-screen.png" density="land-xxhdpi"/>
        <splash src="res/splash/android/drawable-land-xxxhdpi-screen.png" density="land-xxxhdpi"/>
        <splash src="res/splash/android/drawable-port-ldpi-screen.png" density="port-ldpi"/>
        <splash src="res/splash/android/drawable-port-mdpi-screen.png" density="port-mdpi"/>
        <splash src="res/splash/android/drawable-port-hdpi-screen.png" density="port-hdpi"/>
        <splash src="res/splash/android/drawable-port-xhdpi-screen.png" density="port-xhdpi"/>
        <splash src="res/splash/android/drawable-port-xxhdpi-screen.png" density="port-xxhdpi"/>
        <splash src="res/splash/android/drawable-port-xxxhdpi-screen.png" density="port-xxxhdpi"/>
        -->
        <!--<splash src="res/splash/9-patch/splash.xml" density=""/>-->
        <!--<preference name="SplashScreen" value="screendef"/>-->
        <splash src="res/splash/splash_2208x2208.png"  />
        <splash src="res/splash/9-patch/ldpi.9.png"  density="ldpi"  />
        <splash src="res/splash/9-patch/mdpi.9.png"  density="mdpi"  />
        <splash src="res/splash/9-patch/hdpi.9.png"  density="hdpi"  />
        <splash src="res/splash/9-patch/xhdpi.9.png" density="xhdpi" />
        <splash src="res/splash/9-patch/xxhdpi.9.png" density="xxhdpi" />
        <splash src="res/splash/9-patch/xxxhdpi.9.png" density="xxxhdpi" />

        <!--<splash src="res/splash/9-patch/drawable-mdpi/splash.9.png" density="mdpi"/>
        <splash src="res/splash/9-patch/drawable-hdpi/splash.9.png" density="hdpi"/>
        <splash src="res/splash/9-patch/drawable-xhdpi/splash.9.png" density="xhdpi"/>
        <splash src="res/splash/9-patch/drawable-xxhdpi/splash.9.png" density="xxhdpi"/>
        <splash src="res/splash/9-patch/drawable-xxxhdpi/splash.9.png" density="xxxhdpi"/>-->

        <icon density="ldpi" src="res/icon/android/drawable-ldpi/ic_launcher.png" />
        <icon density="mdpi" src="res/icon/android/drawable-mdpi/ic_launcher.png" />
        <icon density="hdpi" src="res/icon/android/drawable-hdpi/ic_launcher.png" />
        <icon density="xhdpi" src="res/icon/android/drawable-xhdpi/ic_launcher.png" />
        <icon density="xxhdpi" src="res/icon/android/drawable-xxhdpi/ic_launcher.png" />
        <icon density="xxxhdpi" src="res/icon/android/drawable-xxxhdpi/ic_launcher.png" />
    </platform>

    <platform name="amazon-fireos">
        <splash src="res/splash/splash_2208x2208.png" />

        <icon density="ldpi" src="res/icon/android/drawable-ldpi/ic_launcher.png" />
        <icon density="mdpi" src="res/icon/android/drawable-mdpi/ic_launcher.png" />
        <icon density="hdpi" src="res/icon/android/drawable-hdpi/ic_launcher.png" />
        <icon density="xhdpi" src="res/icon/android/drawable-xhdpi/ic_launcher.png" />
        <icon density="xxhdpi" src="res/icon/android/drawable-xxhdpi/ic_launcher.png" />
        <icon density="xxxhdpi" src="res/icon/android/drawable-xxxhdpi/ic_launcher.png" />        
    </platform>

    <access origin="*" />
</widget>
