/*body{
    background: url('../imgs/background.png') !important;
}*/
.km-ios7, .km-ios7 .km-widget .km-scroll-wrapper{
    background: url('../imgs/background.png') !important;
    color: white !important;
}
.km-ios7 .km-loader .km-loading-left, .km-ios7 .km-scroller-refresh .km-loading-left {
    margin-left: -0.6em;
    background: white;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    -webkit-animation: km-ios-spin1 1s infinite linear;
    animation: km-ios-spin1 1s infinite linear;
}
.km-ios7 .km-loader .km-loading-right, .km-ios7 .km-scroller-refresh .km-loading-right {
    margin-left: -0.6em;
    background: whitesmoke;
    -webkit-transform: rotate(-270deg);
    transform: rotate(-270deg);
    -webkit-animation: km-ios-spin2 1s infinite linear;
    animation: km-ios-spin2 1s infinite linear;
}
.km-ios7 .km-loader h1, .km-ios7 .km-scroller-refresh .km-template {
    display: inline-block;
    vertical-align: middle;
    color: whitesmoke;
    margin-left: 2em;
    text-shadow: 0 1px 0 rgba(0,0,0,0.8);
}


    .main-menu{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
		height: 100%;
    }
    .menu-item{
        position: relative;
        background: url('../imgs/button_unlocked.png') no-repeat;
        /*background-size: 100% 97px;*/
		background-size: 100% Auto;
        text-align: center;
		margin-left: 10%;      
		padding-top: 40px;		
		margin-top: 10px;
		height: 20%;
        width: 80%;        
    }
    .menu-item:active{
        background: url('../imgs/button_unlocked_press.png') no-repeat;
        background-size: 100% auto;
    }
    .menu-item.locked:before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        background: url('../imgs/button_locked.png') no-repeat;
        background-size: 100% auto;
        width: 100%;
		height: 100%;
        /*height: 97px;*/
    }
    .back-button{
        background: url('../imgs/button_back.png') no-repeat;
        width: 35%;        
        background-size: 100% auto;
		height:100%;
        float: left;
    }
    .list-item .left{
        word-wrap: break-word;
        width: 80%;
    }
    .list-item .right{
        position: absolute;
        bottom: -8px;
        left: 80%;
        background: url('../imgs/star.png');
		background-size: 100% auto;
        width: 15%;        
    }
    .list-item .favorite{
        position: absolute;
        bottom: -8px;
        left: 80%;
        background: url('../imgs/star_press.png');
		background-size: 100% auto;
        width: 15%;        
    }
    .more-apps{
        background: url('../imgs/moreapps.png') no-repeat;
        background-size: 100% auto;
        width: 60%; 		
        float: left;
		height:100%;
    }
    .toolbar{
        padding-top: 5%;
        margin: auto;        
        width: 80%;
    }
    .message-contents{
        margin: auto;
        height: 20%;
        width: 90%;
    }
    .message-list{
        width: 100%;
        padding-top: 10px;
		height: 100%
    }
    .message-list li{
        margin:10px 0 50px 0;
        position: relative;
        padding: 0px 10px 10px 20px;
        min-height: 60px;
        width: 100%;
        background: url("../imgs/messages-middle.png") repeat-y;
        background-size: 100%;
        height: auto;
    }     
    .message-list li:before{
        background: url("../imgs/messages-top.png") no-repeat;
        background-size: 100% 23px;
        width: 100%;
        height: 23px;
        content: "";
        position:absolute;
        top: -23px;
        left: 0px;
    }
    .message-list li:after{
        background: url("../imgs/messages-bottom.png") no-repeat;
        background-size: 100% 23px;
        width: 100%;
        height: 23px;
        content: "";
        position:absolute;
        bottom: -23px;
        left: 0px;
    }
    .back-button:active{
        background: url('../imgs/button_back_press.png') no-repeat;
        background-size: 100% auto;
        width: 35%;         
		height:100%;
        float: left;
    }
    .more-apps:active{
        background: url('../imgs/moreapps_pressed.png') no-repeat;
        background-size: 100% auto;
        width: 60%;        
        float: left;
		height:100%;
    }
	

/*media screen*/
@media screen and (min-width: 100px) and (max-width: 600px) {
  .menu-title {
    font-size: 14px;
	margin-top: -15px;
  }
  .item-count{
	font-size: 14px;
	
  }
  .toolbar{
	height: 100px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1300px) {
  .menu-title {
    font-size: 30px;
	margin-top: 10px;
  }
  .item-count{
	font-size: 30px;
	
  }
  .toolbar{
	height: 250px;
  }
}
@media screen and (min-width: 1300px){
  .menu-title {
    font-size: 40px;
  }
  .item-count{
	font-size: 40px;
	
  }
}

/* large screen portrait */                  
.outer{
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}
.middle{
    display: table-cell;
    vertical-align: middle;
}
@font-face
{
    font-family: goodTimesFont;
    src: url(fonts/good_times_rg.ttf);
}


.menu-item .menu-title{
	
    font-family: goodTimesFont;
}
.menu-item .item-count{
    margin-top: 5px;
    font-family: Arial;
}
.menu-item.locked .item-count{
    margin-top: 5px;
    font-family: Arial;
}
.menu-item.locked:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background: url('../imgs/newflag.png');
    width: 69px;
    height: 67px;
}
.menu-item.purchased .item-count{
    margin-top: 5px;
    font-family: Arial;
}
.menu-item.purchased:after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    background: url('../imgs/button_locked.png');
    background-size: 100% auto;
    width: 100%;
    height: 97px;
}
.menu-item.favorite:before {
    content: "";
    position: absolute;
    top: 31px;
    left: 10px;
    background: url('../imgs/star_press.png') no-repeat;
	background-size: 100% auto;
    width: 15%;    
}
ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.right{
    float: right;
}
.left{
    float: left;
}
.clear{
    clear: both;
}
