<!-- Make sure all your bars are the first things in your <body> -->
<header class="bar bar-nav">

	<!-- Name -->
	<% if(action == "name") { %>

		<a href="javascript:void(0);" class="btn btn-link btn-nav pull-left" style="margin-left:2px" id="backLink">
	        <%= loc.cancel %>
	    </a>
		<h1 class="title"><%= loc.newGroup %></h1>
		<a href="javascript:void(0);" class="btn btn-link btn-nav btn-disabled pull-right btn-right" id="nextLink" style="margin-right:2px" data-navigate="">
			<%= loc.next %>
		</a>

	<!-- Members -->
	<% } else { %>

		<a href="javascript:void(0);" class="btn btn-link btn-nav pull-left" data-return="group/create/name">
			<span class="icon icon-left-nav"></span>
	    </a>
		<h1 class="title"><%= loc.members %></h1>
		<a href="javascript:void(0);" class="btn btn-link btn-nav pull-right btn-right" id="readyLink" style="margin-right:2px">
			<%= loc.ready %>
		</a>

	<% } %>
</header>

<!-- Content -->
<div class="content">

	<!-- Name -->
	<% if(action == "name") { %>
	
		<div class="content-padded">
			<p><%= loc.groupname %></p>

			<% if(group) { %>
				<input type="text" id="newGroupName" placeholder="<%= loc.groupname %>" value="<%= group.name %>">
			<% } else { %>
				<input type="text" id="newGroupName" placeholder="<%= loc.groupname %>">
			<% } %>
		</div>

	<!-- Members -->
	<% } else { %>

		<div class="content-padded">
			<center style="margin:15px 0">
				<p><%= loc.addMembersInfo %></p>
			</center>
		</div>

		<ul class="table-view">
			<li class="table-view-cell">
				<a href="javascript:void(0);" id="inviteMember" class="btn-link">
					<%= loc.addMember %>
				</button>
			</li>
		</ul>

	<% } %>

</div>