<% if (!group || !group["members"] || group["members"].length <= 0) { %>
	 <ul class="table-view">
	    <li class="table-view-cell"><%= loc.noGroups %></li>
	</ul>
<% } else { %> 
	<ul class="table-view">
	<% if (group["owner"] == true) { %> 
		<% for (var i in group["members"]) { %>
			<li class="table-view-cell" data-groupid="<%= group["_id"] %>" data-memberid="<%= group["members"][i]["_id"] %>">
			<% if (!group["members"][i]["name"] || group["members"][i]["name"].length <= 0) { %>
				<%= loc.noName %>
			<% } else { %>
				<%= group["members"][i]["name"] %>
			<% } %>
				<button class="btn btn-negative removefromgroup" data-groupid="<%= group["_id"] %>" data-memberid="<%= group["members"][i]["_id"] %>"><%= loc.removeFromGroup %></button>
			</li>
		<% } %>
		<button class="btn btn-block btn-negative deletegroup" data-groupid="<%= group["_id"] %>"><%= loc.delete %></button>
	<% } else { %>

		<% for (var i in group["members"]) { %>
			<li class="table-view-cell" data-groupid="<%= group["_id"] %>" data-memberid="<%= group["members"][i]["_id"] %>">
			<% if (!group["members"][i]["name"] || group["members"][i]["name"].length <= 0) { %>
				<%= loc.noName %>
			<% } else { %>
				<%= group["members"][i]["name"] %>
			<% } %>
			</li>
		<% } %>
		
		<button class="btn btn-block btn-negative leavegroup" data-groupid="<%= group["_id"] %>"><%= loc.leave %></button>
	<% } %>
	</ul>
<% } %>