<% if (!groups || groups.length <= 0) { %>
	 <ul class="table-view">
	    <li class="table-view-cell"><%= loc.noGroups %></li>
	</ul>

<% } else { %> 

	<div id="ownGroups" class="control-content active">

		<ul class="table-view" style="margin-top:15px">
			<% var counter = 0; %>
			<% for (var i in groups) { %>
				<% if (groups[i]["owner"] != true) continue %>
				<% counter++; %>
				<li class="table-view-cell">
					<a class="navigate-right" data-navigate="group/<%= groups[i]["_id"] %>"><%= groups[i]["name"] %></a>
				</li>
			<% } %>
		</ul>

		<% if(counter > 0) { %>

			<!-- Actions -->
			<ul class="table-view">
				<li class="table-view-cell link-cell">
					<a href="javascript:void();" class="achr-link" data-action="acceptInvite">
						<%= loc.invitation %>
					</a>
				</li>
			</ul>
				
		<% } else { %>

			<div class="content-padded">
				<center>
					<p><%= loc.noGroupsOwn %></p>
				</center>
			</div>

		<% } %>
	</div>

	<div id="invitedGroups" class="control-content">
		<ul class="table-view" style="margin-top:15px">
			<% counter = 0; %>
			<% for (var i in groups) { %>
				<% if (groups[i]["owner"] != false) continue %>
				<% counter++; %>
				<li class="table-view-cell">
					<a class="navigate-right" data-navigate="group/<%= groups[i]["_id"] %>"><%= groups[i]["name"] %></a>
				</li>
			<% } %>
		</ul>

		<% if (counter > 0) { %>

			<!-- Actions -->
			<ul class="table-view">
				<li class="table-view-cell link-cell">
					<a href="javascript:void();" class="achr-link" data-action="acceptInvite">
						<%= loc.invitation %>
					</a>
				</li>
			</ul>

		<% } else { %>
			<div class="content-padded">
				<center>
					<p><%= loc.noGroupsInvited %></p>
				</center>
			</div>
		<% } %>
	</div>

<% } %>