<!-- Make sure all your bars are the first things in your <body> -->
<header class="bar bar-nav">
	<button class="btn btn-link btn-nav pull-left" data-navigate="settings">
        <span class="icon icon-gear"></span>
    </button>
    
	<h1 class="title"><%= loc.title %></h1>

	<button class="btn btn-link btn-nav pull-right btn-right" data-navigate="group/create/name">
        <span class="icon icon-plus"></span>
    </button>
</header>

<div class="bar bar-standard bar-header-secondary">
	<div class="segmented-control" id="groups-segements">
	    <a class="control-item active" href="#ownGroups"><%= loc.ownGroupsSegment %></a>
	    <a class="control-item" href="#invitedGroups"><%= loc.invitedGroupsSegment %></a>
  	</div>
</div>

<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class="content" id="groupListContainer">
	<div class="page-loader"><i class="fa fa-circle-o-notch fa-spin"></i></div>
</div>