<!-- Make sure all your bars are the first things in your <body> -->
<header class="bar bar-nav">
	<a href="#" class="btn btn-link btn-nav pull-left" data-return="groups">
        <span class="icon icon-left-nav"></span>
        <%= loc.back %>
    </a>
    <% if (group) { %>
		<h1 class="title"><%= group.get("name") %></h1>
	<% } %>
</header>

<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class="content" id="groupDetailContainer">
	<% if (!group || !group.get("members") || group.get("members").length <= 0) { %>

		<ul class="table-view">
		    <li class="table-view-cell"><%= loc.noMembers %></li>
		</ul>

	<% } else { %> 

		<!-- OWN GROUPS -->
		<% if (group.get("owner") == true) { %> 

			<!-- Name -->
			<div class="content-padded">
				<p><%= loc.groupname %></p>
				<input type="text" id="groupname" data-groupid="<%= group.get("id") %>" placeholder="<%= loc.groupname %>" value="<%= group.get("name") %>">
				
				<p><%= loc.members %></p>
			</div>

			<!-- Members -->
			<ul class="table-view">

				<!-- Devices -->
				<% for (var i in group.get("members")) { %>
					<li class="table-view-cell" data-groupid="<%= group.get("id") %>" data-memberid="<%= group.get("members")[i]["id"] %>">

						<%= group.get("members")[i]["name"] || loc.noName %>

						<% if(group.get("members")[i]["id"] != senseId) { %>
							<div class="delete-cell-button" data-action="removeMember">
								<i class="fa fa-minus-circle fa-fw"></i>
							</div>
						<% } else { %>
						 	<span class="badge badge-inverted"><%= loc.you %></span>
						<% } %>
					</li>
				<% } %>

				<!-- Tickets -->
				<% for (var i in group.get("tickets")) { %>
					<li class="table-view-cell" data-groupid="<%= group.get("id") %>" data-ticketid="<%= group.get("tickets")[i]["id"] %>">

						<%= loc.openInvitation %>

						<div class="delete-cell-button" data-action="removeInvitation">
							<i class="fa fa-minus-circle fa-fw"></i>
						</div>
					</li>
				<% } %>

				<li class="table-view-cell">
					<a href="javascript:void();" id="addMember" data-groupid="<%= group.get("id") %>" class="btn-link">
						<%= loc.addMember %>
					</a>
				</li>
			</ul>

			<!-- Actions -->
			<ul class="table-view">
				<li class="table-view-cell delete-cell">
					<a href="javascript:void();" data-action="deleteGroup" data-groupid="<%= group.get("id") %>">
						<%= loc.delete %>
					</a>
				</li>
			</ul>

		<!-- INVITED GROUPS -->
		<% } else { %> 

			<ul class="table-view">
				<% for (var i in group.get("members")) { %>
					<li class="table-view-cell" data-groupid="<%= group.get("id") %>" data-memberid="<%= group.get("members")[i]["id"] %>">

						<%= group.get("members")[i]["name"] || loc.noName %>

						<% if(group.get("members")[i]["id"] == senseId) { %>
							<span class="badge badge-inverted"><%= loc.you %></span>
						<% } %>
					</li>
				<% } %>
			</ul>

			<!-- Actions -->
			<ul class="table-view">
				<li class="table-view-cell delete-cell">
					<a href="javascript:void();" data-action="leaveGroup" data-groupid="<%= group.get("id") %>">
						<%= loc.leave %>
					</a>
				</li>
			</ul>
		<% } %>
	<% } %>
</div>