<!-- Make sure all your bars are the first things in your <body> -->
<header class="bar bar-nav">
    <button class="btn btn-link btn-nav pull-left" id="btn_info" data-navigate="info">
        <span class="icon icon-info"></span>
    </button>
    <button class="btn btn-link btn-nav pull-right" data-navigate="settings">
        <span class="icon icon-gear"></span>
    </button>
    <h1 class="title"><%= loc.title %></h1>
</header>

<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class="content">
    <div class="content-padded">
        <button class="btn btn-positive btn-block" id="btn_toggle_recording" href="#">
            <span id="span_stop_recording" style="display:none">
                <span class="icon icon-close"></span> <%= loc.recording.stop %>
            </span>
            <span id="span_start_recording">
                <span class="icon icon-play"></span> <%= loc.recording.start %>
            </span>
        </button>

        <!-- Invitation -->
        <a class="btn btn-default btn-block navigate-right" id="inviteCode">
            <span class="icon icon-list"></span> <%= loc.invitation %>
        </a>
        
        <!-- Watch Users -->
        <a class="btn btn-default btn-block navigate-right" href="#" data-navigate="users">
            <span class="icon icon-person"></span> <%= loc.watchUsers %>
        </a>
        
        <!-- Picture -->
        <button class="btn btn-default btn-block" id="takePicture" href="#">
            <span class="icon icon-up"></span> <%= loc.picture %>
        </button>

        <!-- Share Location -->
        <% if(broadcastMode == true) { %>
            <button class="btn btn-default btn-block" id="shareBroadcastLink" href="#">
                <span class="icon icon-share"></span> <%= loc.broadcastShare %>
            </button>
        <% } %>
    </div>

    <!-- NETWORK INFO CARD -->
    <div class="card">
        <ul class="table-view">
            <li class="table-view-cell">
                <%= loc.network %>
                <span id="label_network_status" class="badge badge-inverted default-text-size">-</span>
            </li>
            <li class="table-view-cell">
                <%= loc.gps %>
                <span id="label_gps_status" class="badge badge-inverted default-text-size">-</span>
            </li>
            <!--<li class="table-view-cell">
                <%= loc.locationCount %>
                <span id="label_locations_count" class="badge badge-inverted default-text-size">-</span>
            </li>-->
        </ul>
    </div>
    
    <!-- GPS INFO CARD -->
    <div class="card">
        <ul class="table-view">
            <li class="table-view-cell">
                Latitude
                <span id="label_lat" class="badge badge-inverted default-text-size">-</span>
            </li>
            <li class="table-view-cell">
                Longitude
                <span id="label_lng" class="badge badge-inverted default-text-size">-</span>
            </li>
            <li class="table-view-cell">
                Geschwindigkeit
                <span id="label_spd" class="badge badge-inverted default-text-size">-</span>
            </li>
            <li class="table-view-cell">
                Kurs
                <span id="label_crs" class="badge badge-inverted default-text-size">-</span>
            </li>
            <li class="table-view-cell">
                Genauigkeit
                <span id="label_acc" class="badge badge-inverted default-text-size">-</span>
            </li>
            <li class="table-view-cell">
                Datum
                <span id="label_date" class="badge badge-inverted default-text-size">-</span>
            </li>
            <li class="table-view-cell">
                Beschleunigung
                <span id="label_acceleration" class="badge badge-inverted default-text-size">-</span>
            </li>
            <li class="table-view-cell">
                Helligkeit
                <span id="label_brightness" class="badge badge-inverted default-text-size">-</span>
            </li>
            <li class="table-view-cell">
                Batterie
                <span id="label_battery" class="badge badge-inverted default-text-size">-</span>
            </li>
        </ul>
    </div>
</div>  