<header class="bar bar-nav">
    <h1 class="title"><%= loc.title %></h1>
</header>

<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class="content launcher">
    <div class="content-padded">

    	<h3 style="margin-top:25px"><%= loc.welcome %></h3>
    	<p>
	    	<%= loc.intro %>
    	</p>

    	<!-- Buy Sailing Tools -->
        <a class="btn btn-default btn-block btn-primary" href="#logbooklist" id="buyTools" style="margin-top:25px">
            <i class="icon fa fa-compass"></i> <%= loc.startSense %>
        </a>

    	<!-- Invitation -->
        <a class="btn btn-default btn-block" id="inviteCode" style="margin-top:25px">
            <i class="icon fa fa-envelope"></i> <%= loc.invitation %>
        </a>

        <!-- Buy Watch -->
        <a class="btn btn-default btn-block" id="buyWatch" style="margin-top:25px">
            <%= loc.buyWatch %>
        </a>
   	</div>
</div>