<div class="content login-background">
    <div class="content-padded">

        <div class="segmented-control">
            <a class="control-item" href="#login">
                <%= loc.login %>
            </a>
            <a class="control-item active" href="#signup">
                <%= loc.signup %>
            </a>
        </div>
    </div>

    <div class="content-padded">

        <!-- login -->
        <span id="login" class="control-content">
            <div>
                <input type="email" id="username" placeholder="<%= loc.mail %>" />
                <input type="password" id="password" placeholder="<%= loc.password %>" />
                <button id="loginButton" class="btn btn-positive btn-block"><%= loc.login %></button>
            </div>
        </span>

        <!-- signup -->
        <span id="signup" class="control-content active">
            <div>
                <input type="text" id="reg_name" placeholder="<%= loc.name %>" />
                <input type="email" id="reg_username" placeholder="<%= loc.mail %>" />
                <input type="password" id="reg_password" placeholder="<%= loc.password %>" />
                <input type="password" id="reg_password2" placeholder="<%= loc.passwordAgain %>" />
                <button id="registerButton" class="btn btn-positive btn-block"><%= loc.signup %></button>
            </div>
        </span>
    </div>
</div>