
<table class="table">
    <tr>
        <th style="border-top:0px!important;">Name</th>
        <td style="border-top:0px!important;"><%= name %></td>
    </tr>
    <tr>
        <th><%= loc.time %></th>
        <td><%= moment.utc(position.time).fromNow() %></td>
    </tr>
    <tr>
        <th>Latitude</th>
        <td><%= position["coord"][1].toFixed(5) %></td>
    </tr>

    <tr>
        <th>Longitude</th>
        <td><%= position["coord"][0].toFixed(5) %></td>
    </tr>
    <tr>
        <th><%= loc.accuracy %></th>
        <td><%= position.acc.toFixed(1) %> m</td>
    </tr>
    <tr>
        <th><%= loc.speed %></th>
        <td>
            <% if(position.spd >= 0) { %>
                <%= (position.spd * 3.6).toFixed(1) %> km/h
            <% } else { %>
                -
            <% } %>
        </td>
    </tr>

    <% for(var s in position.stat) { %>

        <% if(s in loc.status) { %>

            <% if(s == "chr" || s == "alr") { %>
                <tr>
                    <th><%= loc.status[s] %></th>
                    <td><%= loc.status[s + "_" + position.stat[s]] %></td>
                </tr>

            <% } else { %>

                <tr>
                    <th><%= loc.status[s] %></th>
                    <td>
                        <% if(position.stat[s]) { %>
                            <%= position.stat[s] %> %
                        <% } else { %>
                            -
                        <% } %>
                    </td>
                </tr>
            <% } %>
        <% } %> 
    <% } %>
</table>    
