<header class="bar bar-nav">
    <a href="javascript:void(0);" class="btn btn-link btn-nav pull-left" data-return="home">
        <span class="icon icon-left-nav"></span>
        <%= loc.back %>
    </a>
    <h1 class="title"><%= loc.title %></h1>
</header>

<div class="content">

    <div class="content-padded">
        <button class="btn btn-positive btn-block" id="btn_toggle_recording" style="margin-top:1em;" href="#">
            <span id="span_stop_recording" style="display:none">
                <span class="icon icon-close"></span> <%= loc.recording.stop %>
            </span>
            <span id="span_start_recording">
                <span class="icon icon-play"></span> <%= loc.recording.start %>
            </span>
        </button>
    </div>

    <ul class="table-view">

        <!-- name id -->
        <% if(senseId) { %>
        <li class="table-view-cell media">
            <a class="navigate-right" data-navigate="settings/nameid">
                <span class="media-object pull-left"><i class="icon fa fa-cogs"></i></span>
                <div class="media-body settings-row"><%= loc.nameId %></div>
            </a>
        </li>
        <% } %>

        <li class="table-view-cell media">
            <a class="navigate-right" data-navigate="settings/mapview">
                <span class="media-object pull-left"><i class="icon fa fa-eye"></i></span>
                <div class="media-body settings-row"><%= loc.mapview %></div>
            </a>
        </li>

        <!-- invitation -->
        <li class="table-view-cell media">
            <a class="navigate-right" id="inviteCode">
                <span class="media-object pull-left"><i class="icon fa fa-tag"></i></span>
                <div class="media-body settings-row"><%= loc.invitation %></div>
            </a>
        </li>

        <!-- gps -->
        <% if(platform != "ios") { %>
        <li class="table-view-cell media">
            <a class="navigate-right" data-navigate="settings/gps">
                <span class="media-object pull-left"><i class="icon fa fa-wifi"></i></span>
                <div class="media-body settings-row"><%= loc.gps %></div>
            </a>
        </li>
        <% } %>

        <!-- info -->
        <li class="table-view-cell media">
            <a class="navigate-right" data-navigate="info">
                <span class="media-object pull-left"><i class="icon fa fa-info"></i></span>
                <div class="media-body settings-row"><%= loc.info %></div>
            </a>
        </li>

    </ul>

    <!-- Logout -->
    <ul class="table-view">
        <li class="table-view-cell delete-cell">
            <a href="javascript:void();" data-action="logout">
                <%= loc.logout %>
            </a>
        </li>
    </ul>
</div>