<div data-role="view" id="paidflirting-view" data-model="PaidFlirtingViewModel" data-show="PaidFlirtingViewModel.show">
    <div data-role="header">
        <div class="toolbar">
            <div class="back-button" data-role="touch" data-tap="FreeFlirtingViewModel.onBack"></div>
            <div class="more-apps" data-role="touch" data-tap="FreeFlirtingViewModel.onMoreApp" ></div>
        </div>
    </div>
    <div data-role="content">
        <div class="message-contents">
            <ul class="message-list" id="paidflirting-list">
            </ul>
        </div>
    </div>
    <script id="paidflirting-template" type="text/x-kendo-template">
        # for (var i = 0; i < data.length; i++) { #
        <li>
            <div class="list-item">
                <div class="left" onclick="PaidFlirtingViewModel.onShare(#= data[i].id #)">#= data[i].message #</div>
                #if(data[i].isfavorite){#
                <div class="favorite" onclick="PaidFlirtingViewModel.removeFromFavorites(#= i #)"></div>
                #}else{#
                <div class="right" onclick="PaidFlirtingViewModel.addToFavorites(#= i #)"></div>
                #}#
                <div class="clear"></div>
            </div>
        </li>
        # } #
    </script>
</div>
