<div data-role="view" id="first-view" data-model="FirstMenuViewModel" data-show="FirstMenuViewModel.show">
    <div class="outer">
        <div class="middle">
            <div class="main-menu">
                <div class="menu-item" data-bind="click:TapFreeFlirting"><div class="menu-title">Depression</div><div class="item-count">( <span id="freeflirtingcount">0</span> Health Tips )</div></div>
                <div class="menu-item locked" data-bind="click:TapDailyFlirting"><div class="menu-title">Depression<div class="item-count">( <span id="paidflirtingcount">0</span> Health Tips )</div></div></div>
                
                <div class="menu-item favorite" data-bind="click:TapFavorite"><div class="menu-title">Favorite</div></div>
                <div class="restore-button" align="center" data-bind="click:TapRestore">Restore</div>
            </div>
        </div>
    </div>
</div>