
<div data-role="view" id="freeflirting-view" data-model="FreeFlirtingViewModel" data-show="FreeFlirtingViewModel.show">
    <div data-role="header">
        <div class="toolbar">
            <div class="back-button" data-role="touch" data-tap="FreeFlirtingViewModel.onBack"></div>
            <div class="more-apps" data-role="touch" data-tap="FreeFlirtingViewModel.onMoreApp" ></div>
        </div>
    </div>
    <div data-role="content">
        <div class="message-contents">
            <ul class="message-list" id="freeflirting-list">
            </ul>
        </div>
    </div>
    <script id="freeflirting-template" type="text/x-kendo-template">
        # for (var i = 0; i < data.length; i++) { #
            <li>
                <div class="list-item">
                    <div class="left" onclick="FreeFlirtingViewModel.onShare(#= data[i].id #)">#= data[i].message #</div>
                    #if(data[i].isfavorite){#
                        <div class="favorite" onclick="FreeFlirtingViewModel.removeFromFavorites(#= i #)"></div>
                    #}else{#
                        <div class="right" onclick="FreeFlirtingViewModel.addToFavorites(#= i #)"></div>
                    #}#
                    <div class="clear"></div>
                </div>
            </li>
        # } #
    </script>
</div>

